[submodule "submodule/zsh-syntax-highlighting.git"]
	path = submodule/zsh-syntax-highlighting.git
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodule/zsh-history-substring-search.git"]
	path = submodule/zsh-history-substring-search.git
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "submodule/z.git"]
	path = submodule/z.git
	url = git@github.com:rupa/z.git
[submodule "submodule/zsh-git-prompt"]
	path = submodule/zsh-git-prompt
	url = git@github.com:himkt/zsh-git-prompt.git
