[submodule "submodule/zsh-history-substring-search.git"]
	path = submodule/zsh-history-substring-search.git
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodule/zsh-syntax-highlighting.git"]
	path = submodule/zsh-syntax-highlighting.git
	url = https://github.com/zsh-users/zsh-history-substring-search.git
