snippet bellman_ford
class BellmanFord {
	public:
		int V, E;
		struct edge{ int from, to, cost;};
		vector<edge> es;
		vector<int> d;
		void run(int);
		int INF = 1001001001;
};

void BellmanFord::run(int s) {
	for (int i=0; i<V; i++) d[i] = INF;
	d[s] = 0;

	while (true) {
		bool update = false;
		for (int i=0; i<E; i++) {
			edge e = es[i];
			if (d[e.from] != INF && d[e.to] > d[e.from] + e.cost) {
				d[e.to] = d[e.from] + e.cost;
				update = true;
			}
		}
		if (!update) break;
	}
}
endsnippet
