snippet prime_factorization
typedef std::vector<std::pair<long long, long long>> factor_result;
factor_result factor(long long base) {
	vector<pair<long long, long long>> fs;

	for (long long i=2; i*i <= base; i++) {
		if (base % i == 0) {
			long long cnt = 0;

			while (base % i == 0) {
				base /= i;
				cnt++;
			}

			fs.emplace_back(i, cnt);
		}
	}
	if (base > 1) {
		fs.emplace_back(base, 1);
	}

	return fs;
}
endsnippet
