snippet argsort
template<typename integer>
vector<int> argsort(vector<integer> input) {
		size_t seq_len = input.size();

		vector<pair<int, integer>> seq(seq_len);
		for (int i=0; i<seq_len; i++) {
				seq[i] = make_pair(input[i], i);
		}
		sort(seq.begin(), seq.end());

		vector<int> result(seq_len);
		for (int i=0; i<seq_len; i++) result[seq[i].second] = i;
		return result;
};
endsnippet
