bleach
boto
bz2file
certifi
cffi
chainer
chardet
cymem
Cython
cytoolz
decorator
dill
filelock
ftfy
gensim
greenlet
html5lib
idna
ipython
ipython-genutils
jedi
Keras
Markdown
mock
msgpack-python
murmurhash
natto-py
neovim
nltk
nose
numpy
pandas
pathlib
pbr
pexpect
pickleshare
plac
preshed
progressbar2
prompt-toolkit
protobuf
ptyprocess
pycparser
Pygments
python-crfsuite
python-utils
PyYAML
regex
requests
scikit-learn
scipy
simplegeneric
six
smart-open
spacy
tensorflow
tensorflow-gpu
tensorflow-tensorboard
termcolor
Theano
thinc
toolz
tqdm
traitlets
ujson
urllib3
wcwidth
webencodings
Werkzeug
wrapt

